body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

h1 {
    color: #d35400; /* Cor laranja para o título */
    font-size: 2em;
    margin-bottom: 20px;
}

.message {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    display: inline-block;
    transition: transform 0.3s ease;
}

.message:hover {
    transform: scale(1.05); /* Efeito de crescimento ao passar o mouse */
}

p {
    color: #333;
    font-size: 1.2em;
    margin: 0;
}
